{% extends  "index.html" %}
{% block header %}
{% endblock %}
{% block teatle %}
    <title>Upload & Save</title>
     {% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Загрузка файла</title>
 </head>
 <body>
  <form enctype="multipart/form-data" method="post">
   <p>Загрузите вашу фотографию плз</p>
   <p><input type="file" name="photo" multiple accept="image/*,image/jpeg">
   <input type="submit" value="Отправить"></p>
  </form>
  
 </body>
</html>
{% endblock %}